@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Commissioner";
  src: local("Commissioner");
}

@font-face {
  font-family: "Athelas";
  src: local("Athelas");
}

@font-face {
  font-family: "Athelas-Regular";
  src: local("Athelas-Regular");
}

@font-face {
  font-family: "Commissioner-Medium";
  src: local("Commissioner-Medium");
}

@font-face {
  font-family: "Commissioner-Regular";
  src: local("Commissioner-Regular");
}

@font-face {
  font-family: "Athelas-Bold";
  src: local("Athelas-Bold");
}

@font-face {
  font-family: "Markazi Text-Bold";
  src: local("Markazi Text-Bold");
}

@font-face {
  font-family: "Markazi Text-Regular";
  src: local("Markazi Text-Regular");
}
